
body,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to top, #ccb51f, #2fe0e0);    margin: 0 auto;

}






.container{
    width: 400px;
    height: 800px;
background-image: linear-gradient(to top, #f637cc, #e0cb2f);    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-between;
   
}

.back{
    background-image: linear-gradient(to top, #f637cc, #e0cb2f);    margin: 0 auto;
    margin-top: 10px;
border:3px solid black;
    border-radius: 90px;
 box-shadow: #451b3c;

    
}


.menu{
    color: black;
    border:3px solid black;
        border-radius: 90px;
     box-shadow: #1b79e4;
     margin-left: 350px;
     background-image: linear-gradient(to top, #f637cc, #e0cb2f);   

     
        margin-top: -50px;
        margin-bottom: 15px;
    }


.bg{
    background-image: linear-gradient(to top, #f637cc, #d8c4c4);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 100px;
    border: 5px solid rgb(0, 0, 0);
}
p{
    font-size: 40px;
    text-align: center;
    font-style: italic;
}
.gif{
    height: 50px;
}


.play{
    margin-left: 8px;
    margin-top:30px;
}









@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        height: 600px;
        padding: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .back, .menu {
        width: 50px;
        height: 50px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
    }

    .back {
        left: 30px; /* Back icon left side per */
        margin-top: 20px;
    }

    .menu {
        margin-right: 5px;
        margin-top: 20px;
    }

    .bg {
        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
          margin-top: 60px;
        
    }

    p {
        font-size: 24px;
        padding: 10px;
    }

    .gif {
        height: 30px;
    }

    .play {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
}
